---
---

<p></p>

<script>
  window.onload = async () => {
    const cid = "79aab9b8746344ebb0edb4367327f0fb";

    const token = localStorage.getItem("access_token");
    console.log(`The token is ${token}`);
    const response = await fetch("https://api.spotify.com/v1/me/playlists", {
      method: "GET",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
    });
    const data = await response.json();
    if (response.status === 401) {
      let body = new URLSearchParams({
        grant_type: "refresh_token",
        refresh_token: localStorage.getItem("refresh"),
        client_id: cid,
      });
      const res = await fetch("https://accounts.spotify.com/api/token", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: body,
      });
      let dat = await res.json();
      console.log(dat);
    }
  };
</script>
