---
---

<footer>
  <a href="https://decade21.com" target="_blank">Decade21</a>
  <span>&copy;</span> 2023
</footer>

<style lang="scss">
  @import url("../styles/global.scss");
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    margin: 0 auto;
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
  }
  span {
    margin-inline: 0.5rem;
  }
</style>
