---
---

<div class="header-logo">
  <img id="header-logo" src="../../assets/logo_on_light.png" alt="Logo Img" />
  <div class="logo-name">Stratify</div>
</div>

<style>
    .header-logo{
        display: flex;
        align-items: center;
    }

    img{
        margin-right: 1rem;
        width: 36px;
    }

    .logo-name{
        font-size: 2rem;
        font-weight: 700;
    }
</style>