---
import MenuCard from "./MenuCard.astro";
---

<main>
  <h1>Menu</h1>
  <p>What do you want to do today?</p>
  <div class="menu">
    <MenuCard title="Merge Playlists" icon="merge" />
    <MenuCard title="Delete Playlists" icon="delete" />
    <!-- <div class="menu-item">Delete Playlists</div>
    <div class="menu-item">Add songs to playlist</div> -->
  </div>
</main>

<style lang="scss">
  @import url("../styles/global.scss");
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
  }
  p {
    margin: 0.75rem;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
</style>
