---
const { title, icon } = Astro.props;
---

<div class="item" id={icon}>
  <span class="material-symbols-outlined" id={icon}>{icon}</span>
  {title}
</div>

<style lang="scss">
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;

    span {
      margin-bottom: 1rem;
      font-size: 3rem;
    }
  }
</style>

<script>
  const menuItems = document.querySelectorAll(".item");
  menuItems.forEach((item) => {
    item.addEventListener("click", (e)=>{
      // @ts-ignore
      switch(e.target.id){
        case "merge":
          console.log("Clicked on merge");
          location.href="merge.html";
          break;
        case "delete":
          console.log("Clikced on delete");
          break;
        default:
          console.log("No go");
          break;
      }

    });
  });
</script>